.first{
   margin-top: -25px;
    margin-left: 35%;

}
.letsvote{
    margin-top: 40px;
}
.winner{
    margin-top: -38px;
    margin-left: 150px;
}
.candidate{
    margin-left: -65%;
}
/* .result{
    margin-left: 35%;
} */
table {
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  
  .thr {
    height:min-content;
    background-color: #4287f5;
    color: white;
  }
  
  th,
  td {
    width: 150px;
    text-align: center;
    padding: 10px;
  }
.createVoter{
  margin-left: -70px;
}
.setElectionTime{
  margin-left: -99px;
}