
 table {
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  
  .thr {
    height:min-content;
    background-color: #4287f5;
    color: white;
  }
  
  th,
  td {
    width: 150px;
    text-align: center;
    padding: 10px;
  }
  .post{
    margin-left: 160px;
  }
  .candidate{
    padding-left: 300px;
  }
  
  /* .votebutton{
    margin-left: 40%;
  } */
  .label{
    margin-right: 140px;
    margin-left: 40px;
  }

 
  
  .sheader{
    /* margin-top: -20px; */
    margin-left: 30%;
  }
  .winner1{
    margin-left: 30%;
  }
  .parentDiv{
    margin-left: 200px;
    margin-top: -40px;
  }
